/* Settings basicos */

*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    border: 5px solid black;

    padding: 0 50px;
    margin: 100px 50px;
    width: 150px;
}

.container{
    width: 75%;
    margin: auto;
}